<h2>All Users</h2>

<h3><%= session[:current_user_name] %></h3>
<table>
    <tr>
        <th>Username:</th>
        <th>Email:</th>
    </tr>
    <% @user.each do |user|%>
    <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
    </tr>
    <% end %>
</table>

